@model IEnumerable<WebApplication.Models.Person>

@{
    ViewData["Title"] = "Read";
}

<div class="container">
    <h2 class="header-text">Список аккаунтов</h2>
  
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="header-button">
                <a asp-action="Add">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                </a>
                <a asp-controller="Customer" asp-action="Scan">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </a>
            </div>
            <table class="table table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.firstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.lastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.middleName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.firstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.middleName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
